:root {
	--background: white;
	--color-1: #fffff;
	--color-2: #fffff;
	--color-3: #fffff;
	--color-4: white;
	--color-modifier: rgba(255, 255, 255, 0.1);
	--color-modifier-2: rgba(255, 255, 255, 0.1);
	--text: black;
	--link: #000088;
	--font-size: 30px;
	--font-family: Helvetica, Arial, sans-serif;
	--font-variant: normal;
	--background-transform: none;
	--background-filter: none;
}
